# Exploring the Wine dataset
Source: https://www.kaggle.com/datasets/elvinrustam/wine-dataset?resource=download

In [8]:
import pandas as pd
# read csv-data
file_path = "../data/WineDataset.csv"
df = pd.read_csv(file_path)

print(df.head())
df.info()
df.describe()

                                               Title  \
0                                 The Guv'nor, Spain
1  Bread & Butter 'Winemaker's Selection' Chardon...
2       Oyster Bay Sauvignon Blanc 2022, Marlborough
3                   Louis Latour Mâcon-Lugny 2021/22
4  Bread & Butter 'Winemaker's Selection' Pinot N...

                                         Description              Price  \
0  We asked some of our most prized winemakers wo...   £9.99 per bottle
1  This really does what it says on the tin. It’s...  £15.99 per bottle
2  Oyster Bay has been an award-winning gold-stan...  £12.49 per bottle
3  We’ve sold this wine for thirty years – and fo...  £17.99 per bottle
4  Bread & Butter is that thing that you can coun...  £15.99 per bottle

  Capacity            Grape Secondary Grape Varieties       Closure  \
0     75CL      Tempranillo                       NaN  Natural Cork
1     75CL       Chardonnay                       NaN  Natural Cork
2     75CL  Sauvignon Blanc                       NaN      Screwcap
3     75CL       Chardonnay                       NaN  Natural Cork
4     75CL       Pinot Noir                       NaN  Natural Cork

       Country  Unit                                    Characteristics  \
0        Spain  10.5                  Vanilla, Blackberry, Blackcurrant
1          USA  10.1  Vanilla, Almond, Coconut, Green Apple, Peach, ...
2  New Zealand   9.8  Tropical Fruit, Gooseberry, Grapefruit, Grass,...
3       France  10.1                      Peach, Apricot, Floral, Lemon
4          USA  10.1   Smoke, Black Cherry, Cedar, Raspberry, Red Fruit

  Per bottle / case / each   Type         ABV       Region            Style  \
0               per bottle    Red  ABV 14.00%          NaN     Rich & Juicy
1               per bottle  White  ABV 13.50%   California    Rich & Toasty
2               per bottle  White  ABV 13.00%  Marlborough    Crisp & Zesty
3               per bottle  White  ABV 13.50%     Burgundy   Ripe & Rounded
4               per bottle    Red  ABV 13.50%   California  Smooth & Mellow

  Vintage  Appellation
0      NV          NaN
1    2021  Napa Valley
2    2022          NaN
3    2022        Macon
4    2021  Napa Valley
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1290 entries, 0 to 1289
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Title                      1290 non-null   object
 1   Description                1286 non-null   object
 2   Price                      1290 non-null   object
 3   Capacity                   1290 non-null   object
 4   Grape                      1275 non-null   object
 5   Secondary Grape Varieties  488 non-null    object
 6   Closure                    1279 non-null   object
 7   Country                    1284 non-null   object
 8   Unit                       1281 non-null   float64
 9   Characteristics            1253 non-null   object
 10  Per bottle / case / each   1290 non-null   object
 11  Type                       1285 non-null   object
 12  ABV                        1281 non-null   object
 13  Region                     1124 non-null   object
 14  Style                      1212 non-null   object
 15  Vintage                    1283 non-null   object
 16  Appellation                644 non-null    object
dtypes: float64(1), object(16)
memory usage: 171.5+ KB

              Unit
count  1281.000000
mean     10.177674
std       2.318850
min       0.000000
25%       9.400000
50%      10.100000
75%      10.500000
max      39.000000